<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/flighaware-configpage.css">
        <title>Flightaware Configuration</title>
    </head>
    <body>
        <header>

        </header>
        
        <main class="content">
            <div>
                <button>Request new Feeder ID</button>
            </div>
            <div class="result-container">
                <span>Result</span> <span><textarea name="result" id="result"></textarea></span>
            </div>
            <div class="bottom-text">The Flightaware feeding software uses the GPS position of the receiver.</div>
        </main>
        
        <footer>

        </footer>
    </body>
</html> 