<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="../css/styles.css"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script> -->
        <title>Feeder</title>
    </head>
    <body>
        <header>
            
        </header>
        
        <main>
            <div class="content">
                <div class="box" >
                    <div id="title">Flightradar</div>
                    <div><span>Enabled</span> <span>
                        <label class="switch">
                        <input type="checkbox" id="enableCheckbox">
                        <span class="slider round"></span>
                      </label></span></div>
                    
                    <div><span>Running</span> <span class="running-status-dot" id="running-status-dot-Flightradar"></span> </div>
                    <div><span>Sharing key:</span> <span>{{sharing_key}}</span></div>
                    <div><span>Radar ID:</span> <span>sndjlkg;j</span> </div>
                    <div class="status-config-buttons">
                        <a href="pages/flightradar24/status.html">Status</a>
                        <a href="{{ url_for('flightradar_configuration') }}">Configuration</a>
                    </div>
                </div>

                <div class="box" >
                    <div id="title">Flightaware</div>
                    <div><span>Enabled</span> <span>
                        <label class="switch">
                        <input type="checkbox" id="enableCheckbox">
                        <span class="slider round"></span>
                      </label></span></div>
                    
                    <div><span>Running</span> <span class="running-status-dot" id="running-status-dot-Feeder"></span> </div>
                    <div><span>Feeder ID:</span> <span>{{feeder_id}}</span></div>
                    <div class="status-config-buttons">
                        <a href="pages\flightaware\configuration.html">Status</a>
                        <a href="{{ url_for('flightaware_configuration') }}">Configuration</a>
                    </div>
                </div>

                <div class="box" >
                    <div id="title">Opensky Network</div>
                    <div><span>Enabled</span> <span>
                        <label class="switch">
                        <input type="checkbox" id="enableCheckbox">
                        <span class="slider round"></span>
                      </label></span></div>
                    
                    <div><span>Running</span> <span class="running-status-dot" id="running-status-dot-Flightradar"></span> </div>
                    <div><span>Serial:</span> <span>{{serial}}</span></div>
                    <div><span>Username:</span> <span>{{username}}</span> </div>
                    <div class="status-config-buttons">
                        <a href="pages/opensky/status.html">Status</a>
                        <a href="{{ url_for('opensky_configuration') }}">Configuration</a>
                    </div>
                </div>

                <div class="box" >
                    <div id="title">ADS-B Exchange</div>
                    <div><span>Enabled</span> <span>
                        <label class="switch">
                        <input type="checkbox" id="enableCheckbox">
                        <span class="slider round"></span>
                      </label></span></div>
                    
                    <div><span>Running</span> <span class="running-status-dot" id="running-status-dot-Flightradar"></span> </div>
                    <div><span>User:</span> <span>{{user}}</span></div>
                    <div><span>UUID:</span> <span>{{uuid}}</span> </div>
                    <div class="status-config-buttons">
                        <a href="pages/ads-b/status.html">Status</a>
                        <a href="{{ url_for('adsb_configuration') }}">Configuration</a>
                    </div>
                </div>

                <div class="box" >
                    <div id="title">Planefinder</div>
                    <div><span>Enabled</span> <span>
                        <label class="switch">
                        <input type="checkbox" id="enableCheckbox">
                        <span class="slider round"></span>
                      </label></span></div>
                    
                    <div><span>Running</span> <span class="running-status-dot" id="running-status-dot-Flightradar"></span> </div>
                    <div><span>Sharecode:</span> <span>{{share_code}}</span></div>
                    <div class="status-config-buttons">
                        <a href="pages/planefinder/status.html">Status</a>
                        <a href="pages/planefinder/configuration.html">Configuration</a>
                    </div>
                </div>

                <div class="box" >
                    <div id="title">openAir1090</div>
                    <div><span>Enabled</span> <span>
                        <label class="switch">
                        <input type="checkbox" id="enableCheckbox">
                        <span class="slider round"></span>
                      </label></span></div>
                    
                    <div><span>Running</span> <span class="running-status-dot" id="running-status-dot-Flightradar"></span> </div>
                    <div><span>Receiver-ID</span> <span>344</span></div>
                    <div class="status-config-buttons">
                        <a href="pages/openair/status.html">Status</a>
                        <a href="pages/openair/configuration.html">Configuration</a>
                    </div>
                </div>

                
            </div>    
        </main>
        
        <footer>

        </footer>
    </body>
</html>