@import "ui.css";

.content {
    display: grid;
    grid-template-columns: auto auto auto;
}

.box {
    margin: 10px;
    border: solid;
    border-width: 2px;
    border-color: #A4AAB3;
    background-color: #E7E6E6;

    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    /* display: flex; */
}

.box > div
{
    margin: 5px;
    /* display: flex; */
    /* justify-content: space-between; */
}

#title {
    font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    /* content: "ON"; */
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    /* content: "ON"; */
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 16px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #22C025;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #22C025;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.running-status-dot{
    height: 15px;
    width: 15px;
    /* background-color: #2AA145; */
    margin-left: 20px;
    background: radial-gradient(rgba(255, 54, 54, 1), rgba(255, 54, 54, 0.7));
    border-radius: 50%;
    display: inline-block;
}

.running-status-dot.active{
    background: radial-gradient(#2FA748, #3B8962);
}

.running-status-dot.inactive{
    background: radial-gradient(rgba(255, 54, 54, 1), rgba(255, 54, 54, 0.7));
}

.status-config-buttons {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
