<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/configpage.css">
        <title>Flightradar24 Configuration</title>
    </head>
<body>
    <header>

    </header>
    
    <main>
        <form action="" class="form" title="Flightradar24 Configuration">
            <div class="sharing-key-container"> 
                <label for="sharing-key">Sharing key</label>
                <input type="text" id="sharing-key" name="sharing-key" required>
                <input type="button" class="button" name="updateButton" value="Update">
            </div> 
            
            <div>
                <label for="latitude">Latitude</label>
                <input type="text" id="latitude" name="latitude" required>
            </div>
            
            <div>
                <label for="longitude">Longitude</label>
                <input type="text" id="longitude" name="longitude" required>
            </div>

            <div>
                <label for="altitude-ft">Altitude FT</label>
                <input type="text" id="altitude-ft" name="altitude-ft" required>
            </div>
            
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <input type="submit" value="Signup" class="button">
            </div>

            <div class="bottom-text">
                To update the receiver location either signup again or send email to  support@fr24.com or visit your account at <a href="https://www.flightradar24.com/account/data-sharing">https://www.flightradar24.com/account/data-sharing</a> 
            </div>

        </form>
    </main>
    
    <footer>
        
    </footer>
</body>
</html> 