<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/opensky-configpage.css') }}">
        <title>Flightradar24 Configuration</title>
    </head>
<body>
    <header>

    </header>
    
    <main>
        <form action="" class="form" title="Flightradar24 Configuration">
            
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <div>
                <label for="latitude">Latitude</label>
                <input type="text" id="latitude" name="latitude" required>
            </div>
            
            <div>
                <label for="longitude">Longitude</label>
                <input type="text" id="longitude" name="longitude" required>
            </div>

            <div>
                <label for="altitude-ft">Altitude FT</label>
                <input type="text" id="altitude-ft" name="altitude-ft" required>
            </div>
            
            <div class="buttons">
                <input type="button" name="update-location-button" id="update-location-button" value="Update location">
                <input type="submit" name="request-new-serial-button" id="request-new-serial-button" value="Request new Serial">
            </div>

        </form>
    </main>
    
    <footer>
        
    </footer>
</body>
</html> 